body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 16px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4em auto;
    
    width: 400px;
    height: 448px;
    
    background: #9C9C9C;
    border: 2px solid #626262;
    box-sizing: border-box;
    border-radius: 3px;
}

h1 {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    margin: 20px;
}

.main {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    padding: 0 20px;
}
label {color: #3a3a3a;}
input {
    width: 100%;
    border: 1px solid #9C9C9C;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 6px 10px;
}

/* input:invalid:not(:placeholder-shown){border:1px solid red; border-radius: 3px;}
input:valid:not(:placeholder-shown){border:1px solid green; border-radius: 3px;}*/
input:focus::placeholder {color:transparent;}

.form_error {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 3px;
    display: none;
}
input:invalid:not(:placeholder-shown) + .form_error {
    display: block;
}

.col_100 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.col_50 {width: 50%;}
.col_100 .col_50:first-child {margin-right: 5px;}
.col_100 .col_50:last-child {margin-left: 5px;}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.controls button {padding: 8px 12px;}
button[type=submit] {
    background: #616161;
    border: 1px solid #616161;
    box-sizing: border-box;
    border-radius: 3px;
    color: #CCCCCC;
}
button[type=reset] {
    background: #CCCCCC;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    color: #616161;
}
