body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.1em;
}
.stepper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4em auto;
}
.step {
    display: flex;
    background: linear-gradient(180deg, #686868 0%, #B3B3B3 50.52%, #686868 100%);
}
svg {
    position: absolute;
    width: 20px;
    height: 60px; 
    margin-left: 300px;   
}
.label {
    display: block;
    padding: 17px 120px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: #FFFFFF;
}
.label:focus {
    background: linear-gradient(180deg, #2EA239 0%, #62FD71 50.52%, #2EA139 100%);
    text-shadow: black 1px 1px 0, black -1px -1px 0, 
                 black -1px 1px 0, black 1px -1px 0;
}