body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 16px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px;
    margin: 4em auto;
    
    width: 357px;
    
    background: #CCCCCC;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    list-style-type: none;
}
.menu li:last-child {
    margin-bottom: -0.4px;
}

a {
    display: block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
}
a:hover {
    background: #9c9c9c;
    transition: 0.4s;
}
a:active {
    background: #666666;
}
a:focus {
    background: #444444;
    color: red;
}
.menu li:first-child a:hover, .menu li:first-child a:focus{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.4s;
}
.menu li:last-child a:hover, .menu li:last-child a:focus{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.4s;
}